div.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 9.5vh;
    z-index: 1;

    /* animation  */
    transition: all 0.3s;
    transition-timing-function: ease-in;
}

.nav_black{
    background-color: #111;
    opacity: .85;
}

img.nav_logo{
    width: 14rem;
    height: 5rem;
    position: fixed;
    left: 1.4rem;
    top: 1rem;
    object-fit: contain;
    cursor: pointer;
    padding: 0;
}

img.nav_avatar{
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 2rem;
    top: 1.3rem;
    object-fit: contain;
    cursor: pointer;

}
@media(max-width : 430px){
    div.nav{
        height: 5.1vh;
    }
}
@media(max-width : 996px){
    div.nav{
        height: 8vh;
    }
}
@media(max-width : 768px){
    div.nav{
        height: 7vh;
    }
}